.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}



	*,*:before,*:after,body{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: sans-serif;
	}

	h2{
		font-size: 50px;
		color: #2f2f2f;
		text-align: center;
		text-transform: capitalize;
		padding: 30px 60px;
	}

.container{
	width: 100%;
}	

.content{
	position: relative;
	width: 31%;
	margin: 0 1.16%;
	float: left;
	overflow: hidden;
	cursor: pointer;
}

img{

	padding-top: 10%;
	width: 100%;
	height: 440px;
}

.content .overlay{
	padding-top: 10%;
	background: radial-gradient(#069c8b,#7770f1);
	position: absolute;
	width: 100%;
	height: 99.3%;
	top:0;
	left: -100%;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.content:hover .overlay{
	padding-top: 10%;
	left:0%;
	opacity: 1;
}

.content-details{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 80%;
	text-align: center;
	padding: 0 16px;
	opacity: 0;
	transform: translate(-50%,-50%) rotateZ(360deg);
	transition: all 0.5s ease-in-out;
}

.content:hover .content-details{
	top:50%;
	left: 50%;
	opacity: 1;
	transform: translate(-50%,-50%) rotateZ(0deg);
}

.content-details h3{
	color:#fff;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.content-details h4{
	color:#fff;
	font-size: 16pxpx;
	padding: 0 3px;
	line-height: 25px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

@media only screen and (max-width: 900px) {
	h2{
		font-size: 400px;
		padding: 35px 0;
	}

	.content{
		width: 46%;
		margin: 1% 2%;
	}

}

@media only screen and (max-width: 900px) {
	img{
		height: 340px;
	}

	.content-details h3{
		font-size: 25px;
	}

	.content-details h4{
		line-height: 22px;
	}

}

@media only screen and (max-width: 550px) {
	img{
		height: 440px;
	}

	h2{
		font-size: 25px;
	}

	.content{
		width: 75%;
		margin: 2.5% 12.5%;
	}

}


@media only screen and (max-width: 400px) {
	img{
		height: 440px;
	}
.content{
		width: 90%;
		margin: 2.5% 5%;
	}
}

.footer{
    position: fixed;
    padding-top: 10%;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2%;
    background: #333;
    color:#fff;
    text-align: center;
}