
@import url('https://fonts.googleapis.com/css?family=Raleway');
:root{
    --bg-color : #fff;
    --primary-color : rgba(250,0,38,1);
}
* {
    font-family: Raleway;
}

html {
    background-color: #DFDFDF;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}

.first-banner{
    margin:0px 6% 10% 6%;
}
.second-banner{
    margin: 10% 0px;
}


img.side-big{
    width:100%;
}

.right-alloc-half-content{
    padding-top:20%;
}
.main-quote{
    color: var(--primary-color);
    font-size: 270%;
    font-weight: 700;
    margin-bottom: 25px;
}
.main-quote-para{
    width:90%;
}
.main-quote-btn{
    display: inline-block;
    padding:12px 25px;
    border:2px solid var(--primary-color);
    border-radius: 25px;
    text-align: center;
    background: var(--bg-color);
    margin: 25px 0px;
    cursor: pointer;
    font-weight: 700;
}

.footer{
    padding: 2%;
    background: #333;
    color:#fff;
    text-align: center;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

